name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Verify Python
      run: |
        which python3
        python3 --version

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          zip unzip git openjdk-17-jdk \
          autoconf libtool pkg-config \
          python3-setuptools python3-wheel

    - name: Install Buildozer + Cython + P4A
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install buildozer cython==0.29.36
        python3 -m pip install git+https://github.com/kivy/python-for-android.git

    - name: Build APK
      run: |
        export PATH=$HOME/.local/bin:$PATH
        buildozer android debug

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: HisabApp-APK
        path: bin/*.apk
