name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system deps
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3 python3-pip python3-setuptools python3-wheel \
          zip unzip git openjdk-17-jdk autoconf libtool pkg-config

    - name: Install build tools
      run: |
        /usr/bin/python3 -m pip install --upgrade pip setuptools wheel
        /usr/bin/python3 -m pip install buildozer cython==0.29.36
        /usr/bin/python3 -m pip install git+https://github.com/kivy/python-for-android.git

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
